## Verify completeness and correctness for page (surface): sg359pages, 36

### Verify completeness

Please verify that all [passages of text on this image](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.3888,0.2488,0.04748,0.03466&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4011,0.5901,0.03365,0.04067&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.5904,0.4415,0.08504,0.02344&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4276,0.2490,0.2879,0.03646&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4853,0.5176,0.3909,0.02684&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.6806,0.4461,0.1902,0.02724&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4330,0.5791,0.4808,0.1520&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4351,0.4826,0.2320,0.02564&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.6863,0.2851,0.1977,0.02985&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4044,0.4830,0.02794,0.02244&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.6286,0.2855,0.06130,0.03205&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4014,0.2953,0.03456,0.01983&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4237,0.3113,0.3585,0.04587&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4261,0.2913,0.1977,0.02985&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4324,0.3512,0.5358,0.1138&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.3984,0.5507,0.03305,0.02945&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4345,0.5445,0.2701,0.04367) are indexed.

### Verify correctness

Please verify that the diplomatic transcription of the following 17 DSE records corresponds to the associated image.



---

**1**.  (*h007_2.h02.rubric*) A 


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:38.87999,24.88,4.748,3.466/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.3888,0.2488,0.04748,0.03466)

---

**2**.  (*h008.h04.rubric*) RG 


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:40.11,59.01,3.365,4.067/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4011,0.5901,0.03365,0.04067)

---

**3**.  (*h007_2.h14.rubric*) ADOF 


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:59.04,44.15,8.504,2.344/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.5904,0.4415,0.08504,0.02344)

---

**4**.  (*h007_2.h02.1*) Memento nostri dne .  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:42.76,24.9,28.79,3.646/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4276,0.2490,0.2879,0.03646)

---

**5**.  (*h008.h00.1*) IN VIGIL NATI DNI  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:48.53,51.76,39.09,2.684/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4853,0.5176,0.3909,0.02684)

---

**6**.  (*h007_2.h14.1*) Aue maria.  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:68.06,44.61,19.02,2.724/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.6806,0.4461,0.1902,0.02724)

---

**7**.  (*h008.h04.1*) hodie scietis quia veniet dominus et saluabit vos et mane videbitis gloriam eius.  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:43.3,57.91,48.08,15.2/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4330,0.5791,0.4808,0.1520)

---

**8**.  (*h007_2.h18.1*) Ecce virgo concip  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:43.51,48.26,23.2,2.564/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4351,0.4826,0.2320,0.02564)

---

**9**.  (*h007_2.h10.1*) Caeli enarrant.  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:68.63,28.51,19.77,2.985/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.6863,0.2851,0.1977,0.02985)

---

**10**.  (*h007_2.h18.rubric*) CO 


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:40.44,48.3,2.794,2.244/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4044,0.4830,0.02794,0.02244)

---

**11**.  (*h007_2.h10.rubric*) V 


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:62.86,28.54999,6.13,3.205/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.6286,0.2855,0.06130,0.03205)

---

**12**.  (*h007_2.h08.rubric*) RG 


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:40.14,29.53,3.456,1.983/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4014,0.2953,0.03456,0.01983)

---

**13**.  (*h007_2.x01.1*) Alleluia  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:42.37,31.13,35.85,4.587/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4237,0.3113,0.3585,0.04587)

---

**14**.  (*h007_2.h08.1*) A summo caelo.  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:42.61,29.13,19.77,2.985/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4261,0.2913,0.1977,0.02985)

---

**15**.  (*h007_2.x01.2*) Memento nostri domine in beneplacito tuo visita nos in salutari tuo.  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:43.24,35.12,53.58,11.38/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4324,0.3512,0.5358,0.1138)

---

**16**.  (*h008.h01.rubric*) A 


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:39.83999,55.06999,3.305,2.945/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.3984,0.5507,0.03305,0.02945)

---

**17**.  (*h008.h01.1*) Hodie scietis quia.  


[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/ecod/codsang359imgs/v1/csg359_0_43_36_0.tif/pct:43.45,54.45,27.01,4.367/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_43_36_0@0.4345,0.5445,0.2701,0.04367)